<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static 'images/snoop.jpg' %}"
                 alt="Picture of Snoop" />
        </div>
        <div> <img src="{{ MEDIA_URL }}furby.jpeg" alt="Picture of a
Furby."/>
        </div>
    </body>

</html>